{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "react/jsx-filename-extension" : "off",
    "jsx-a11y/href-no-hash" : "off",
    "no-class-assign" : "off"
  }
}
